.navbar-brand img {width: 12%}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.navbar-brand img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.invisible-block {
    height: 50px;
    opacity: 0;
}
nav.navbar {
    border-bottom: 2px solid #000;
}
body {
    background-color: #f8f9fa;
}
li.nav-item {
    background-color: #28a745;
    font-weight: bold;
    color: #000;
}